<header>
	<nav id="mainNavbar" data-sticky="false" class="group dark:bg-transparent bg-transparent py-1 fixed w-full z-30 top-0 start-0 data-[sticky=true]:bg-default-50 dark:data-[sticky=true]:bg-default-800">
		<div
			class="flex flex-wrap items-center justify-between max-w-screen-xl px-4 mx-auto">

			{# Brand #}
			<div class="hidden p-4 rounded-lg lg:inline-block">
				<img src="{{ asset('build/images/logo/logo-ehrmann-full.png') }}" alt="Logo" class="h-8">
			</div>
			<div class="block p-4 lg:hidden">
				<img src="{{ asset('build/images/logo/logo-ehrmann-light.png') }}" alt="Logo" class="h-8">
			</div>

			{# Navigation #}
			<div
				class="flex items-center lg:order-2">

				{# Darkmode button #}
				<button id="theme-toggle" type="button" class="mx-2 rounded-full text-sm text-default-500 p-2.5 hover:bg-default-100 focus:outline-none dark:text-default-400 dark:hover:bg-default-700">
					<twig:ux:icon name="bi:moon-stars" id="theme-toggle-dark-icon" class="hidden w-5 h-5"/>
					<twig:ux:icon name="bi:sun" id="theme-toggle-light-icon" class="hidden w-5 h-5"/>
				</button>

				{# Contact button #}
				{{ include ('components/_cta-round.html.twig', {
					icon: 'bi:envelope',
				}) }}

				{# Mobile button #}
				<button id="mobile-menu-button" data-collapse-toggle="mobile-menu" type="button" class="inline-flex items-center p-2 ml-1 text-sm text-default-300 group-data-[sticky=true]:text-default-500 group-data-[sticky=true]:dark:text-default-400 rounded-lg lg:hidden hover:bg-default-100 focus:outline-none dark:text-default-300 dark:hover:bg-default-700 focus:ring-default-600" aria-controls="mobile-menu" aria-expanded="false">
					<span class="sr-only">Open main menu</span>
					<twig:ux:icon name="bi:list" class="h-5 w-5 text-default-900 group-data-[sticky=true]:text-default-900 group-data-[sticky=true]:dark:text-default-400"/>
				</button>
			</div>

			{# Navigation list #}
			<div class="items-center justify-between hidden w-full mt-2 dark:bg-default-800 bg-default-50 text-default-50 lg:order-1 lg:mt-0 lg:flex lg:w-auto lg:bg-transparent lg:dark:bg-transparent" id="mobile-menu">
				<ul class="flex flex-col font-medium rounded-lg lg:space-x-8 lg:flex-row">

					<li>
						<a href="#" class="font-title uppercase font-medium text-lg lg:dark:text-default-900 block py-2 pr-4 pl-3 text-default-900 lg:text-default-900 lg:group-data-[sticky=true]:text-default-900 dark:lg:group-data-[sticky=true]:text-default-50 hover:!text-primary-600 lg:group-data-[sticky=true]:hover:!text-primary-700 dark:lg:group-data-[sticky=true]:hover:!text-primary-500 border-b border-default-100 hover:bg-default-100 lg:hover:bg-transparent lg:border-0 lg:p-0 dark:text-default-50 dark:hover:bg-default-700 dark:hover:text-default-900 lg:dark:hover:bg-transparent dark:border-default-700">
							Faire Gérer
						</a>
					</li>
					<li>
						<a href="#" class="font-title uppercase font-medium text-lg lg:dark:text-default-900 block py-2 pr-4 pl-3 text-default-900 lg:text-default-900 lg:group-data-[sticky=true]:text-default-900 dark:lg:group-data-[sticky=true]:text-default-50 hover:!text-primary-600 lg:group-data-[sticky=true]:hover:!text-primary-700 dark:lg:group-data-[sticky=true]:hover:!text-primary-500 border-b border-default-100 hover:bg-default-100 lg:hover:bg-transparent lg:border-0 lg:p-0 dark:text-default-50 dark:hover:bg-default-700 dark:hover:text-default-900 lg:dark:hover:bg-transparent dark:border-default-700">
							Faire Valoriser
						</a>
					</li>
					<li>
						<a href="#" class="font-title uppercase font-medium text-lg lg:dark:text-default-900 block py-2 pr-4 pl-3 text-default-900 lg:text-default-900 lg:group-data-[sticky=true]:text-default-900 dark:lg:group-data-[sticky=true]:text-default-50 hover:!text-primary-600 lg:group-data-[sticky=true]:hover:!text-primary-700 dark:lg:group-data-[sticky=true]:hover:!text-primary-500 border-b border-default-100 hover:bg-default-100 lg:hover:bg-transparent lg:border-0 lg:p-0 dark:text-default-50 dark:hover:bg-default-700 dark:hover:text-default-900 lg:dark:hover:bg-transparent dark:border-default-700">
							L'Agence
						</a>
					</li>
					<li>
						<a href="#" class="font-title uppercase font-medium text-lg lg:dark:text-default-900 block py-2 pr-4 pl-3 text-default-900 lg:text-default-900 lg:group-data-[sticky=true]:text-default-900 dark:lg:group-data-[sticky=true]:text-default-50 hover:!text-primary-600 lg:group-data-[sticky=true]:hover:!text-primary-700 dark:lg:group-data-[sticky=true]:hover:!text-primary-500 border-b border-default-100 hover:bg-default-100 lg:hover:bg-transparent lg:border-0 lg:p-0 dark:text-default-50 dark:hover:bg-default-700 dark:hover:text-default-900 lg:dark:hover:bg-transparent dark:border-default-700">
							Annonces
						</a>
					</li>
				</ul>
			</div>

		</div>
	</nav>
</header>
