<section class="py-4 bg-default-50 dark:bg-default-900 lg:py-8">
	<div class="max-w-screen-xl px-4 mx-auto">
		<div class="grid gap-6 lg:grid-cols-3">
			{{ include('components/_google-advice.html.twig', {
                title: 'Dévouée, à l’écoute, très professionnelle',
                content: 'Mon expérience avec l’agence immobilière gérée par Mme Ehrmann: Dévouée, à l’écoute, très professionnelle, elle a su répondre à toutes mes attentes en matière de gestion locative. Sa connaissance du marché, sa patience et son sens du service client sont remarquables. Je recommande vivement à tous ceux qui recherchent un vrai service de qualité dans le domaine immobilier.',
				author: 'Arthur Koroglu',
            }) }}

			{{ include('components/_google-advice.html.twig', {
                title: 'Je recommande sans réserve',
                content: 'Je recommande sans réserve car Madame Ehrmann est à l\'écoute des besoins des locataires et très réactive, le service rendu est de grande qualité.',
				author: 'Lea Grandpierre',
            }) }}

			{{ include('components/_google-advice.html.twig', {
                title: 'Une garantie de professionnalisme, de disponibilité, et de rigueur',
                content: 'Être accompagnée par Mélanie, c’est une garantie de professionnalisme, de disponibilité, et de rigueur. Tout ce que j’apprécie pour la tranquillité de mon bien. Je recommande vivement.',
				author: 'Karen T',
            }) }}
		</div>
	</div>
</section>
