<section class="py-8 bg-default-50 dark:bg-default-800 lg:py-16">
	<div class="max-w-screen-xl px-4 mx-auto">
		<div class="items-center gap-16 text-justify lg:grid lg:grid-cols-2">

			<div class="text-default-900 sm:text-lg dark:text-default-50">

				<h2 class="mb-4 text-3xl font-extrabold tracking-tight font-title text-primary-700 sm:text-4xl dark:text-primary-200">
					Mon métier
				</h2>
				<p class="mb-4">
					Spécialiste de la gestion locative, je prends en charge tous les aspects de la gestion de vos biens au quotidien pour vous libérer du temps et vous apporter toute sérénité et vous accompagne dans la réalisation de tous vos projets immobiliers.
				</p>

				<h2 class="mt-8 mb-4 text-3xl font-extrabold tracking-tight font-title text-primary-700 sm:text-4xl dark:text-primary-200">
					15 ans d'expérience dans l'immobilier
				</h2>
				<p class="mb-4">
					Forte d’une expérience de 15 ans dans l’immobilier, j’ai créé cette agence à taille humaine, au cœur du marché immobilier strasbourgeois, qui privilégie le contact et la proximité.
				</p>
				<p class="mb-4">
					Juriste de formation, spécialiste de la gestion locative, je prends en charge tous les aspects de la gestion de vos biens au quotidien pour vous libérer du temps et vous apporter toute sérénité et vous accompagne dans la réalisation de tous vos projets immobiliers.
				</p>

				<h2 class="mt-8 mb-4 text-3xl font-extrabold tracking-tight font-title text-primary-700 sm:text-4xl dark:text-primary-200">
					Je m'occupe de tout
				</h2>
				<p class="mb-4">
					Vous êtes propriétaire (en nom propre , en indivision ou en SCI) d’un bien immobilier (appartement, maison, garage, local professionnel ou commercial, immeuble en monopropriété) situé à Strasbourg ou aux environs ?
				</p>
				<p class="mb-4">
					Vous avez peu de temps à accorder à sa gestion et souhaitez en dégager une bonne rentabilité ?
				</p>
				<p class="mb-4">
					Vous souhaitez le mettre en location dans des conditions optimales et sécuriser vos revenus locatifs ?
				</p>
				<p>
					Je propose un service de gestion locative sur mesure, adapté à vos besoins.
				</p>

			</div>

		</div>
	</div>
</section>
