<section class="bg-default-50 dark:bg-default-900">
    <div class="max-w-screen-xl px-4 py-8 mx-auto sm:py-16 lg:py-24">
        <div class="items-center gap-16 lg:grid lg:grid-cols-2">
            <div class="text-default-900 sm:text-lg dark:text-default-50">
                <h2 class="font-title mb-4 text-3xl font-extrabold tracking-tight text-primary-900 sm:text-4xl dark:text-primary-400">
                    15 ans d'expérience dans l'immobilier
                </h2>
                <p class="mb-4">
                    Forte d’une expérience de 15 ans dans l’immobilier, j’ai créé cette agence à taille humaine, au cœur
                    du marché immobilier strasbourgeois, qui privilégie le contact
                    et la proximité.
                </p>
                <p class="mb-4">
                    Juriste de formation, spécialiste de la gestion locative, je prends en charge tous les aspects de la
                    gestion de vos biens au quotidien pour vous libérer du temps et vous apporter toute sérénité et vous
                    accompagne dans la réalisation de tous vos projets immobiliers.
                </p>
                {# CTA #}
                {{ include('components/_cta-contact.html.twig', {
                    text: 'Contactez-moi'
                }) }}
            </div>

            <div class="mt-4 text-default-900 sm:text-lg lg:mt-0 dark:text-default-50">
                <p class="mb-4">
                    Vous êtes propriétaire (en nom propre , en indivision ou en SCI) d’un bien immobilier
                    (appartement,
                    maison, garage, local professionnel ou commercial, immeuble en monopropriété) situé à Strasbourg
                    ou
                    aux environs ?
                </p>
                <p class="mb-4">
                    Vous avez peu de temps à accorder à sa gestion et souhaitez en dégager une bonne rentabilité ?
                </p>
                <p class="mb-4">
                    Vous souhaitez le mettre en location dans des conditions optimales et sécuriser vos revenus
                    locatifs
                    ?
                </p>
                <p>
                    Je propose un service de gestion locative sur mesure, adapté à vos besoins.
                </p>
            </div>
        </div>
    </div>
</section>
