<section class="py-8 bg-default-50 dark:bg-default-800 lg:py-16">
	<div class="max-w-screen-xl px-4 mx-auto">

		<div class="gap-4 sm:grid sm:grid-cols-2">
			<img class="col-span-2 mb-4 rounded-xl sm:mb-0" src="{{ asset('build/images/portrait/desk.jpg') }}" alt="content gallery 1">
		</div>

	</div>
</section>
