<button id="theme-toggle" type="button" class="mx-2 rounded-full text-sm text-default-500 p-2.5 bg-default-100 focus:outline-none dark:text-default-400 dark:bg-default-700">
	<twig:ux:icon name="bi:moon-stars" id="theme-toggle-dark-icon" class="hidden w-5 h-5"/>
	<twig:ux:icon name="bi:sun" id="theme-toggle-light-icon" class="hidden w-5 h-5"/>
</button>
