<button type="submit" class="px-5 py-3 text-sm font-medium text-center rounded-xl text-default-50 bg-primary-700 hover:bg-primary-800 focus:ring-primary-300 focus:outline-none focus:ring-4 dark:bg-primary-600 sm:w-fit dark:hover:bg-primary-700 dark:focus:ring-primary-800">{{ text }}</button>
