<div class="p-2 lg:p-4">
    {# Image #}
    <twig:ux:icon name="{{ image }}" class="h-6 w-6 lg:h-8 lg:w-8 text-primary-900 mb-1.5"/>
    {# Title #}
    <h2 class="mb-1 text-lg lg:text-xl font-medium text-default-900">
        {{ title }}
    </h2>
    {# Description #}
    <p class="mb-1 text-sm text-default-900">
        {{ description }}
    </p>
    {#    #}{# CTA #}
    {#    <a href="{{ url }}" #}
    {#       class="inline-flex items-center text-sm font-semibold text-secondary-900 hover:underline"> #}
    {#        En savoir plus #}
    {#        <twig:ux:icon name="bi:arrow-right" class="ml-1 h-5 w-5"/> #}
    {#    </a> #}
</div>
