<a href="#"
   class="inline-flex items-center rounded-lg px-5 py-4 text-center font-medium text-default-900 bg-secondary-400 hover:bg-secondary-500 focus:ring-secondary-100 focus:outline-none focus:ring-4">
    {{ text }}
    <twig:ux:icon name="bi:arrow-right" class="ml-4 h-5 w-5"/>
</a>