<a class="relative inline-block text-2xl font-black font-title text-primary-700 group focus:outline-none" href="#">
	<span class="absolute inset-0 border rounded-full border-secondary-400 group-active:border-secondary-400"></span>
	<span class="block px-4 py-4 transition-transform border rounded-full bg-secondary-400 border-secondary-400 active:border-secondary-300 active:bg-secondary-300 group-hover:-translate-x-1 group-hover:-translate-y-1">
		<twig:ux:icon name="{{ icon }}" class="w-6 h-6 text-primary-600 group-hover:text-primary-700 dark:text-primary-700 dark:group-hover:text-primary-800"/>
	</span>
</a>
